/*background of after hero section (2nd section)*/
.section{
    display: flex;
    background-color: white;
    padding-top: 20px;
    width: 100%;
}
/*holder for all after hero section content*/
.next-top, .my_work{
    display: flex;
    background-color: rgba(128, 128, 128, 0.125);
    width: 100%;
    margin:0 10px;
    border-radius: 15px;
    justify-content: space-between;
}
.my_work{
    background-color: rgb(0,0,0);
}
/*holder/container of about*/
.about{
    /*display: inline;*/
    margin: 10px;
    padding: 10px;
    background-color: rgba(166,166,166,0.25);
    min-width: 500px;
    /*max-width: 400px;*/
    border-radius: 15px;
    
}
/*heading titles*/
h3{
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    color: #2f1a04;
}

/*holder/container of about paragraph*/
.about-paragraph{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    overflow: hidden;
    /*min-height:72.5%;*/
    /*box-shadow: 0 0 5px black;*/
    border-radius: 15px;
}

p{
    display: inline;
    font-size: 15px;
    text-align: center;
    color: black;
}
/*holder/container of social-info*/
.socials{
    /*position: relative;*/
    margin: 10px;
    padding: 10px;
    background-color: rgba(166,166,166,0.25);
    width: 250px;
    border-radius: 15px;
}
/*profile picture*/
.socials-pp{
    display: inline-block;
    width: 100%;
    border-radius: 25px;
}
/*button of social media section*/
.socials button{
    height: 35px;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    border-width: 0;
    background-color: black;
    color: white;
}

.socials button:hover{
    cursor: pointer;
    background-color: brown;
}

/*side menu*/
.sub-menu{
    position: sticky;
    float: left;
    padding:30px;
    /*width: 25%;*/
}


section>div>aside>ul{    
    list-style: none;
}

/*side menu list*/
section>div>aside>ul>li{
    color: grey;
    font-size: 50px;
}
section>div>aside>ul>li:first-child{
    color: white;
}
section>div>aside>ul>li:hover{
    cursor: pointer;
    color: #2f1a04;
}

/*holder/container projects*/
.card-holder{
    margin: 10px 10px;
    background-color: #2f1a04;
    border-radius: 25px;
    justify-content: space-between;
    width: 100%;
}
.card-shape{
    float: left;
    max-width: 25%;
    background-color: aqua;
}
.card-skeleton{
    height: 250px;
    background-image: url("../thumbnails/thumbnail-1.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    padding: 50px 10px 0px 10px;
}
.title-div{
    margin-top: 75px;
}