*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.background{
    height: 100vh;
    width: auto;
    background-color: black;
}

nav{
    display: flex;
    height: 50px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 40px;
    width: auto;
    cursor: pointer;
}


nav ul li{
    list-style-type: none;
    display: inline-block;
    width: 75px;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    text-decoration: none;
    color: brown;
}

nav button{
    background-color: white;
    color: black;
    height: 35px;
    width: 90px;
    border-radius: 20px;
}

nav button:hover{
    background-color: brown;
    cursor: pointer;
    color: black;
    height: 35px;
    width: 110px;
    border-radius: 20px;
    transition: 50ms;
    transition-timing-function: 
    cubic-bezier(0.25, 0.1, 0.25, 1);
}